extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(href="../stylesheets/cover.css", rel="stylesheet")

block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand Biblio-Enigma Server Side
						nav
							ul.nav.masthead-nav
								li.active 
									a(href="/") Home
								li
									a(href="http://nicholasgiordano.it") Chi sono
								li
									a(href="https://github.com/nicholas0g/biblio-enigma-client") Alternativa Client
				.inner.cover
					h1.cover-heading Cos'è??
					p.lead Biblio-enigma è un progetto per aiutare gli studenti a trovare un posto dove studiare nelle biblioteche di ateneo. Questo server si occupa di offrire servizi Restfull per ottenere dati relativamente a posti occupati nelle biblioteche e descrizione dei servizi che le biblioteche offrono. E' possibile conoscere le opinioni degli utenti catturate dai social relativamente ad una biblioteca ed agli 'amministratori' è data la possibilità di segnalare studenti in ingresso o in uscita da una biblioteca. E' inoltre possibile ottenere suggerimenti di varia natura relativamente al titolo di un libro che si è trovato interessante.
					p.lead Per ora sono solo 4 le biblioteche gestite ma si pensa di rendere scalabile il servizio dando la possibilità di inserirne di nuove.
					a(href="/api", class="btn btn-lg btn-default") Scopri le nostre API

				.mastfoot
					.inner
						p Progetto realizzato da <a href="http://nicholasgiordano.it">Nicholas Giordano</a>
